/* -----------------------------------------------------------
   Base Site Logo (all pages except start page)
----------------------------------------------------------- */
.site-logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--global-width);
    margin-top: calc(var(--menu-bar-height) + var(--global-padding));
    margin-bottom: var(--global-padding);
    margin-left:auto;
    margin-right: auto;
}

.site-logo {
    max-width: var(--global-width);
    display: flex;
    justify-content: center;
}

.site-logo a {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.site-logo img.custom-logo {
    width: 100%;          /* scale proportionally */
    max-width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    aspect-ratio: 1437/203;
    mix-blend-mode: multiply;
    opacity: 0.9;
}

.site-tagline {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 3vw;
    text-align: center;
    white-space: normal;
    color:#999;
}

@media (max-width: 1024px){
.logo-wrapper{
        margin-top: 80px;
    }
    .site-tagline {
            _font-weight: 300;
    }
}