/* Archive items */
.archive-item {
    margin-bottom: 6rem;
}

.archive-item-title {
}

.archive-item-title a {
}

.archive-item-title a:hover {
}

.archive-item-excerpt {
}

.archive-thumb {
}

.entry-title {
}

.entry-content {
}

/* Pagination */
.pagination {
    text-align: center;
    margin-bottom: 6rem;
}

.pagination a {
}

.pagination a:hover {
}

.archive-thumb-caption {
}

.archive-thumb-caption:hover {
}

/* Make the_content clickable */
.archive-item-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

/* Gallery captions: left align */
.wp-block-gallery figcaption {
    text-align: left;
}
